*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  font-family: sans-serif;
}

body{
  background: #222;
  
}
ul{
  list-style-type: none;
}
#root{
  background-color: rgb(189, 189, 250);
  height: fit-content;
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg,#00feba,#5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
}
/* .main-app-div{
  
  
  
} */

#remove-favorite{
  background-color: red;
  height: 40px;
  width: fit-content;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}
h2{
  color: orangered;
  text-align: center;

}
/* #house-img{
  margin-left:28px;
} */
#search-input{
  height: 30px;
  border-radius: 3px;
  border: none;
  padding: 5px;
  margin-bottom: 5px;
}
#searchBtn{
  height: 30px;
  border-radius: 3px;
  border: none;
  margin-left: 4px;
}
.property-list{
  border: 1px solid rgb(243, 243, 248);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.list{
  border-bottom: 1px solid rgb(81, 255, 0);
  padding-bottom: 10px;
}
.property-details{
  border: 1px solid white;
  padding: 8px;
}

.favorite-lists{
  border: 1px solid white;
  margin-top: 10px;
  padding: 5px;
}
.search-properties h2{
  border-bottom: 1px solid red;
  margin-bottom: 30px; 

}
.fav-list{
  border-bottom: 1px solid rgb(47, 248, 47);
  padding-bottom: 10px;
  padding-top: 10px;
}
#added-image{
  width: 50px;
  height: 50px;
}
.property-list-images{
    display: flex;
      justify-content: space-between;
      /* Adjust as needed: space-between, space-around, center, etc. */
      align-items: center;
      /* Align items vertically in the center, adjust as needed */
  }

.property-list-images img {
      max-width: 100%;
        /* Ensure images don't exceed the container width */
        height: auto;
        margin-right: 8px;
        /* Adjust the margin between images */
        border-radius: 8px;
        /* Optional: Add rounded corners */
    }

#house-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-bottom: 10px;
  /* Optional: Set the container height to 100% of the viewport height */
}

#house-img img {
  width: 100%;
  /* Ensure the image doesn't exceed the container width */
  height: 100%;
  /* Ensure the image doesn't exceed the container height */
}